.catalog {

	&__container {
		display: grid;
		grid-template-columns: minmax(18.125rem, 18.75rem) minmax(48rem, 68.75rem);
		gap: 3rem;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--section-inner);

		&--centered {
			min-height: 25rem;
			align-items: center;
			justify-content: center;
		}
	}

	&__empty {
		font-size: var(--h1);
		font-weight: 700;
		text-align: center;
	}

	&__bottom {
		margin-top: .5rem;
	}

	&__more {
		--_width: 100%;
	}
}