$choices-font-size-lg: var(--fs-lg);
$choices-guttering: 0;
$choices-border-radius: var(--radius-sm);
$choices-bg-color-dropdown: var(--background-light);

@import "../../node_modules/choices.js/src/styles/choices.scss";

.#{$choices-selector} {
	color: var(--dark-color);

	.#{$choices-selector}__inner {
		min-height: 3.75rem;
		display: flex;
		align-items: center;
		gap: .25rem;
		background-color: var(--background-lighter);
		font-size: inherit;
		border: 2px solid var(--background-lighter);
		border-radius: var(--radius);
		padding: .25rem 1.5rem;
	}

	.#{$choices-selector}__placeholder {
		color: var(--gray-color);
		opacity: 1;
	}

	.#{$choices-selector}__list--single {
		display: block;
		height: 100%;
		padding: 0;

		[dir="rtl"] & {
			padding: 0;
		}
	}

	&[data-type*='select-one'] {

		&::after {
			all: initial;
		}

		.#{$choices-selector}__inner {
			padding: .25rem 1.5rem;
		}
	}

	&--language {
		color: inherit;

		&[data-type*='select-one'] {

			.#{$choices-selector}__inner {
				padding: 0;
			}
		}

		.#{$choices-selector}__inner {
			min-height: auto;
			display: flex;
			align-items: center;
			gap: .25rem;
			background-color: transparent;
			font-size: inherit;
			border: 0;
			border-radius: 0;
			padding: 0;
		}

		%choices-dropdown {
			width: auto;
			border-radius: $choices-border-radius;
			box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
		}
	}
}

.#{$choices-selector}__inner-icon {
	--_i-color: currentColor;
}

%choices-dropdown {
	min-width: 3.75rem;
  margin-top: .25rem;
	word-break: unset;
	border: 0;
	border-radius: var(--radius);
	padding: 1rem 1.5rem;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

	.#{$choices-selector}__list {
		color: var(--dark-color);
		overflow-x: hidden;
	}

	.#{$choices-selector}__placeholder {
		display: none;
	}

	.#{$choices-selector}__item--selectable {
		font-size: inherit;
		padding: .25rem;
		white-space: nowrap;
		transition: color var(--transition-duration) var(--transition-type);

		&.is-selected {
			color: var(--gray-color);
		}

		&.is-highlighted {
      background-color: transparent;
    }
	}
}

@media (hover: hover) {
	%choices-dropdown .#{$choices-selector}__item--selectable:hover {
		color: var(--primary-color);
	}
}