.form {

	&-options {
		display: flex;
		flex-wrap: wrap;
		gap: .875rem;
		margin-bottom: 3rem;
	}

	&-option {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		margin-top: 5rem;

		&--end {
			justify-content: flex-end;
		}
	}
}