.logo {
	--_color: var(--light-color);
	--_background-color: var(--primary-color);
	--_border-radius: var(--radius);
	--_padding: .25rem 2rem;

	--_color-hover: var(--light-color);
	--_background-color-hover: var(--primary-color);
	--_color-active: var(--light-color);
	--_background-color-active: var(--primary-color);
}