.pagination {
	margin-top: var(--section-inner);
	justify-content: center;
	gap: 1.5rem;

	&,
	&__page {
		display: flex;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn {
		--_width: auto;
		--_height: 1.5rem;
		--_font-weight: 400;
		--_padding: 0 .125rem;

		min-width: 1.5rem;
	}
}