.pagination {
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: var(--section-inner);
	position: relative;

	&,
	&__page {
		display: flex;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn {
		--_width: auto;
		--_height: 1.5rem;
		--_font-weight: 400;
		--_padding: 0 .125rem;

		min-width: 1.5rem;
	}

	&__fast {
		display: flex;
		align-items: center;
		gap: .5rem;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		&-link {
			--_font-weight: 400;
		}

		&-decor {
			content: '';
			display: inline-block;
			height: 2rem;
			width: 1px;
			background-color: var(--text-color);
		}
	}
}