/** > 1400px **/
@media (max-width: 87.5rem) {
	// footer
	.footer {
		&__container,
		&__wrapper {
			gap: 1.5rem 1.25rem;
		}

		&__container {
			flex-wrap: wrap;
		}

		&__picture {
			width: 100%;
		}
	}
}

/** > 1200px **/
@media (max-width: 75rem) {
	:root {
		// sections
		--section-offset: 4rem;
		--section-first: .5rem;
		--section-last: 4rem;
	}

	// section
	.section {
		&-header,
		&-subtitle {
			margin-bottom: 2.5rem;
		}

		& + .section {
			margin-top: var(--section-offset);
		}

		& + .section--double {
			margin-top: var(--section-last);
		}

		&:last-child {
			margin-bottom: var(--section-last);
		}
	}

	// form
	.form {
		&-options {
			margin-bottom: 2.5rem;
		}

		&-buttons {
			margin-top: 3rem;
		}
	}

	// fields
	.form-control {

		&--double {
			flex-direction: column-reverse;
		}

		&--checkbox {
			gap: .5rem 1.5rem;
		}
	}
	
	// list
	.list-circle {
		gap: 2.5rem;
		margin-bottom: 2.5rem;
	}

	// user
	.user {
		&__btn {
			&--desktop {
				display: none;
			}

			&--mobile {
				--_icon-size: 2.5rem;

				display: inline-flex;
			}
		}
	}

	// burger
	.burger,
	.menu {
		display: flex;
	}

	.menu {
		&__job {
			&--catalog {
				display: none;
			}
		}
	}

	[data-menu-overlay] {
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--background-dark);
		opacity: 0;
		position: fixed;
		z-index: -1;
		inset: 0;
		transition: opacity var(--transition-duration) var(--transition-type);
	}

	[data-menu-overlay="true"] {
		cursor: pointer;
		opacity: 0.8;
		z-index: 1050;
	}

	// actions
	.actions {
		bottom: 3rem;
	}

	// header
	.header {
		padding-block: 3rem;

		&__location {
			display: none;
		}

		&__end {
			.choices--language,
			.user {
				display: none;
			}
		}
	}

	// hero
	.hero {
		margin-bottom: 6rem;
	}

	// catalog
	.catalog {
		&__container {
			display: grid;
			grid-template-columns: minmax(0rem, 75rem);
		}
	}

	// dropzones
	.dropzone {
		&-avatar {
			margin-bottom: 3rem;
		}
	}

	// tariff
	.tariff {
		&__inner {
			padding: 3rem 2rem;
		}
	}

	// video
	.video {

		&-play {
			--_i-size: 8rem;
		}
	}

	// statisctics
	.statistics {
		gap: 2.5rem;

		&__item {

			&-end {
				gap: 2rem;
			}

			&:not(:first-child) {
				padding-top: 2.5rem;
			}
		}
	}

	// portfolio
	.portfolio {
		display: none;

		&,
		&-swiper {
			margin-bottom: 2.5rem;
		}

		&-swiper {
			display: block;
			margin-inline: calc(var(--container-offset) * -1);

			.swiper {
				padding-inline: var(--container-offset);
			}

			.swiper-scrollbar {
				margin: 2rem var(--container-offset) 0;
			}

			&--edit {

				.portfolio__item {
					position: relative;

					&::after {
						content: '';
						width: 100%;
						height: 100%;
						display: block;
						background-color: rgba(33, 33, 33, .5);
						border-radius: var(--radius-lg);
						position: absolute;
						inset: 0;
						z-index: 1;
					}
		
					.btn {
						position: absolute;
						top: 1.25rem;
						right: 1.25rem;
						z-index: 2;
					}
				}
			}
		}

		&__slide {
			display: flex;
			flex-direction: column;
			gap: .875rem;
		}
	}

	// reviews
	.reviews {

		&__bottom {
			margin-top: .5rem;
		}
	}

	// footer
	.footer {
		padding-block: 3rem;

		&__copy {
			margin-top: 3rem;
		}
	}
}

/** > 992px **/
@media (max-width: 62rem) {
	:root {
		// font-size
		--h1: 1.5rem;
		--h2: 1.25rem;
		--h3: 1.125rem;
		--h4: 1rem;
		--h5: 0.875rem;

		--fs: 0.875rem;
		--fs-md: 1rem;
		--fs-lg: 1.125rem;
		--fs-xl: 1.25rem;
		--fs-xxl: 1.5rem;

		// sections
		--section-offset: 3rem;
	}

	// typography
	p + p {
		margin-block-start: 1.5rem;
	}

	// section
	.section {
		&-header,
		&-subtitle {
			margin-bottom: 2rem;
		}

		& + .section {
			margin-top: var(--section-offset);
		}

		& + .section--double {
			margin-top: var(--section-last);
		}
		
		&:last-child {
			margin-bottom: var(--section-last);
		}
	}

	// buttons
	.btn-lg,
	.btn-xl {
		--_height: 3rem;
		--_font-size: var(--fs-md);
		--_border-radius: var(--radius-md);
		--_padding: 0 2rem;

		--_icon-size: 1.125rem;

		border-width: 1px;
	}

	// form
	.form {
		&-options {
			margin-bottom: 2rem;
		}

		&-hint {
			font-size: var(--fs);
		}

		&-buttons {
			margin-top: 2.5rem;
		}
	}

	// fields
	.form-control {
		margin-bottom: 2rem;

		&__title {
			margin-bottom: 1rem;
		}
	}

	.form-field {

		&--search {

			.field {
				--_field-height: 3.75rem;
				--_field-fs: var(--fs-xxl);
			}
		}
	}

	.field {
		--_field-height: 2.5rem;
		--_field-fs: var(--fs-md);
		--_field-radius: var(--radius-md);
		--_field-padding: 0.25rem 1.25rem;
	}

	// list
	.list-circle {
		gap: 2rem;
		padding-left: 2rem;
		margin-bottom: 2rem;
	}

	// icons
	.icon-lg {
		--_i-size: 1.125rem;
	}

	// logo
	.logo {
		--_padding: 0;
	}

	// choices
	.choices {

		.choices__inner {
			min-height: 2.5rem;
		}
	}

	// burger
	.burger {
		--_icon-size: 2rem;
	}

	.menu {
		&__job,
		&__nav,
		&__user {
			gap: 0.75rem;
		}
	}

	// filter
	.filter {
		&__dropdown {
			min-width: 16rem;
			padding: 1.5rem;
		}

		&__language {
			&-title {
				width: 100%;
			}
		}
	}

	// card
	.card {
		padding: 2.5rem 2rem;

		&__profile {
			&-name {
				font-size: var(--h1);
			}
		}

		&__swiper {
			margin-inline: -2rem;

			.swiper {
				padding-inline: 2rem;
			}

			.swiper-scrollbar {
				margin: 1rem 2rem 0;
			}
		}

		&__price {
			padding-inline: 2rem 1rem;

			&-info {
				gap: .5rem;
			}
		}
	}

	.card--review {
		padding: 2.5rem 2.5rem 5rem 2.5rem;

		.card__body {
			flex-direction: column;
			gap: 1.5rem;

			&-start {
				display: flex;
				align-items: flex-start;
				gap: 1.5rem;

				&_image {
					width: 4rem;
					height: 4rem;
				}

				.card__body-title {
					display: block;
				}
			}

			&-end {

				.card__body-title {
					display: none;
				}

				.card__time {
					display: block;
					font-size: var(--fs-xxl);
				}
			}

			&-header {
				margin-bottom: 0;

				.card__time {
					display: none;
				}
			}
		}
	}

	// pagination
	.pagination {
		margin-top: 1.5rem;
	}

	// actions
	.actions {
		bottom: 2.5rem;
	}

	.to-top,
	.message {
		--_icon-size: 2.5rem;
		--_padding: 1.25rem;
	}

	// swipers
	.swiper-scrollbar {
		height: 1rem;
	}

	// modals
	.graph-modal {
		&__container {
			max-width: 42rem;
			border-radius: var(--radius-lg);
			padding: 2rem 1.5rem 4rem;

			&--contacts {

				.graph-modal__content {
					margin-bottom: 0;
				}
			}

			&--code {
				.graph-modal__form-title {
					font-size: var(--h1);
				}
			}

			&--sign {
				.graph-modal__form {
	
					.form-control {
						margin-bottom: 5rem;
					}
				}
			}
		}

		&__close {
			--_icon-size: 2rem;
		}

		&__content {
			margin-top: 2rem;
		}

		&__nav {
			max-width: 24rem;
			gap: 1.125rem;
			margin-bottom: 2rem;
		}

		&__form {
			max-width: 21rem;

			&-title {
				font-size: 2.5rem;
				margin-bottom: 2rem;
			}

			&-btns {
				&--v2 {
					margin-top: 3rem;
				}
			}
		}

		&__search {
			&-gps {
				gap: 1rem;
			}

			&,
			&-dropdown {
				gap: 1.5rem;
			}

			&-list {
				gap: 0.5rem;

				& + .graph-modal__search-list {
					border-top: 1px solid #818181;
					padding-top: 1.5rem;
				}
			}
		}

		&__switch {
			font-size: var(--fs-xl);
			margin-top: 2.5rem;
		}

		&__contacts {

			> li {
	
				&:first-child {
	
					&::after {
						width: 50%;
						min-width: 16rem;
					}
				}
			}

			.btn {
				--_font-size: var(--fs-xxl);
				--_padding: .5rem 1rem;

				--_icon-size: 2rem;
			}
		}
	}

	// header
	.header {
		padding-block: 2.5rem;

		&__container,
		&__end {
			gap: 1rem;
		}
	}

	// hero
	.hero {
		margin-bottom: 5rem;

		&__bg {
			height: 40vw;
			min-height: 18.75rem;
		}

		&__form {
			transform: translateY(calc(100% - 1.875rem));
		}
	}

	// catalog
	.catalog {
		&__bottom {
			margin-top: 0;
		}
	}

	//dropzones
	.dropzone {
		&-files {
			.dz-upload {
				--_padding: 2rem;
			}
		}

		&-avatar {
			margin-bottom: 2.5rem;
		}
	}
	
	// tariff
	.tariff {
		&__inner {
			padding: 2.5rem 1.5rem;
		}
	}

	// video
	.video {

		&-play {
			--_i-size: clamp(3rem, 10vw + 1rem, 8rem);
		}
	}

	// statisctics
	.statistics {
		gap: 2rem;

		&__item {

			&-end {
				gap: 1.5rem;
			}

			&:not(:first-child) {
				padding-top: 2rem;
			}
		}
	}

	// info
	.info {
		gap: 2rem;
		padding: 2.5rem 2rem;

		&__description {

			&-title {
				margin-bottom: 1rem;
			}
		}
	}

	// reviews
	.reviews {
		gap: 1.5rem;
	}

	// portfolio
	.portfolio {

		&,
		&-swiper {
			margin-bottom: 2rem;
		}
	}

	// footer
	.footer {
		padding-block: 2.5rem;

		&__copy {
			margin-top: 1.5rem;
		}
	}
}

/** > 768px **/
@media (max-width: 48rem) {
	// card
	.card {
		&__header {
			flex-direction: column;
		}

		&__info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 0.75rem 1.25rem;
		}

		&__reviews,
		&__language,
		&__statistics {
			font-size: var(--fs-md);
			justify-content: flex-start;
		}

		&__reviews,
		&__statistics {
			margin-bottom: 0;
		}

		&__language {
			width: auto;
			gap: 0.5rem;
		}
	}

	// actions
	.to-top,
	.message {
		--_icon-size: 1.75rem;
		--_padding: 0.75rem;
	}

	// portfolio
	.portfolio {

		&__item {

			&-image {
				border-radius: var(--radius);
			}
		}

		&--edit,
		&-swiper--edit {
			
			.portfolio__item {

				&::after {
					border-radius: var(--radius);
				}
			}
		}
	}

	// footer
	.footer {
		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__picture {
			display: flex;
			justify-content: center;
		}

		&__nav {
			text-align: center;
		}

		&__wrapper,
		&__socials {
			display: none;
		}

		&__copy {
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
		}
	}
}

/** > 576px **/
@media (max-width: 36rem) {
	// form
	.form {
		&-buttons {
			flex-direction: column-reverse;

			.btn {
				--_width: 100%;
			}
		}
	}

	// burger
	.menu {
		max-width: 100%;
	}

	// card
	.card {
		&__profile {
			&-avatar {
				width: 6.75rem;
				height: 6.75rem;
			}
		}
	}

	// modals
	.graph-modal {
		&__nav {
			gap: 1rem;
		}

		&__contacts {
			flex-direction: column;

			> li {
	
				&:first-child {
	
					&::after {
						all: unset;
					}
				}
			}

			.btn {
				--_padding: .5rem 0;
			}
		}
	}
}

/** > 380px **/
@media (max-width: 23.75rem) {
}
