/** > 1921px **/
@media (min-width: 120.0625rem) {
	:root {
		// base
		--content-width: calc(90rem + (1920 - 1480) * ((100vw - 20rem) / (1921 - 320)));
		--content-width-xl: calc(79rem + (1600 - 1264) * ((100vw - 20rem) / (1921 - 320)));
		
		// font-size
		--h1: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		--h2: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		--h3: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		--h4: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
		--h5: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
	
		--fs: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		--fs-xs: calc(.75rem + (17 - 12) * ((100vw - 20rem) / (1920 - 320)));
		--fs-sm: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));
		--fs-md: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
		--fs-lg: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		--fs-xl: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		--fs-xxl: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));

		// radius
		--radius: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		--radius-sm: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
		--radius-md: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
		--radius-lg: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		--radius-xl: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

		// sections
		--section-offset: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
		--section-first: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
		--section-last: calc(7.5rem + (168 - 120) * ((100vw - 20rem) / (1920 - 320)));
	}

	// typography
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-block: 0 calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
	}

	p + p {
		margin-block-start: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
	}

	// sections
	.section {
		&-header,
		&-subtitle {
			margin-bottom: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-header {
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// buttons
	.btn {
		--_icon-size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

		gap: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.btn-primary,
	.btn-outline-primary,
	.btn-secondary,
	.btn-tertiary {
		--_height: calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320)));
		--_padding: 0 calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
	}

	.btn-sm {
		--_height: calc(2.75rem + (62 - 44) * ((100vw - 20rem) / (1920 - 320)));
		--_padding: 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

		--_icon-size: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
	}

	.btn-md {
		--_height: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		--_padding: 0 calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

		--_icon-size: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.btn-lg {
		--_height: calc(4.375rem + (98 - 70) * ((100vw - 20rem) / (1920 - 320)));
		--_padding: 0 calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

		--_icon-size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.btn-xl {
		--_height: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
		--_padding: 0 calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

		--_icon-size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
	}

	// form
	.form {

		&-options {
			gap: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
			margin-bottom: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-buttons {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			margin-top: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// fields
	.form-control {
		margin-bottom: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));

		&__title {
			margin-bottom: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
		}

		&--checkbox {
			gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

			.form-checkbox {
				gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&--double {
			gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

			&-field {
				column-gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&--horizontal {
			gap: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320))) calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&--code {
			grid-template-columns: repeat(4, minmax(calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))), calc(6rem + (134 - 96) * ((100vw - 20rem) / (1920 - 320)))));
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	.form-field {
		&--search {

			.form-field__btn {
				--_padding: 0 calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320))) 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}

			.filter {
				
				&__btn {
					--_padding: 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320))) 0 calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
	
			.field {
				--_field-padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(3.5rem + (78 - 56) * ((100vw - 20rem) / (1920 - 320))) calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(4rem + (90 - 64) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&--password {

			.form-field__btn {
				--_padding: 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320))) 0 calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}
	
			.field {
				--_field-padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(3.5rem + (78 - 56) * ((100vw - 20rem) / (1920 - 320))) calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&--send {

			.form-field__btn {
				--_padding: 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320))) 0 calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}
	
			.field {
				--_field-padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(3.5rem + (78 - 56) * ((100vw - 20rem) / (1920 - 320))) calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
		}
	}

	.form-hint {
		margin-top: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
	}

	.field {
		--_field-height: calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320)));
		--_field-padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
	}

	textarea.field {
		--_field-padding: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		
		max-height: calc(12.5rem + (280 - 200) * ((100vw - 20rem) / (1920 - 320)));
	}

	// list
	.list-circle {
		gap: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		margin: 0 0 calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		padding-left: calc(2.75rem + (62 - 44) * ((100vw - 20rem) / (1920 - 320)));
	}

	// switch
	.switch {

		&-slider {
			width: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
			height: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

			&::before {
				width: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
				height: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
				left: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&:checked {

			~ .switch-slider {
				background-color: var(--primary-color);
	
				&::before {
					left: calc(100% - calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320))));
				}
			}
		}
	}

	// checkbox
	.form-checkbox {
		gap: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));
	}

	.checkbox {
		--_size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

		&-check {
			background-size: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// icons
	.icon {
		--_i-size: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
	}

	.icon-xxl {
		--_i-size: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.icon-xl {
		--_i-size: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.icon-lg {
		--_i-size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.icon-md {
		--_i-size: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
	}
	
	.icon-sm {
		--_i-size: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
	}

	// user
	.user {
		gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
	}

	// theme
	.theme {
		gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
	}

	// choices
	.choices {

		.choices__inner {
			min-height: calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320)));
			gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}

		&[data-type*='select-one'] .choices__inner {
			padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}

		&--language {

			&[data-type*='select-one'] {

				.choices__inner {
					padding: 0;
				}
			}

			.choices__inner {
				gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
				padding: 0;
			}
		}

		&__list {
			&[aria-expanded],
			&--dropdown {
				min-width: calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320)));
				margin-top: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
				padding: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
			
			&[aria-expanded] {

				.choices__item--selectable,
				.choices__list--dropdown .choices__item--selectable {
					padding: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}
	}

	// burger
	.burger {
		--_icon-size: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
	}

	.menu {
		max-width: calc(30rem + (672 - 480) * ((100vw - 20rem) / (1920 - 320)));
		gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		padding: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

		&__header {
			gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__close {
			--_icon-size: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__main {
			gap: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__language {
			gap: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__job,
		&__nav,
		&__user {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__job {

			&--catalog {
				max-width: calc(18.75rem + (420 - 300) * ((100vw - 20rem) / (1920 - 320)));
			}

			&-link {
				gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
		}
	}

	// logo
	.logo {
		--_height: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));

		svg {
			width: calc(5.9375rem + (133 - 95) * ((100vw - 20rem) / (1920 - 320)));
			height: calc(3rem + (67 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// contacts
	.contacts {
		gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));

		&__link {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// socials
	.socials {
		gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));

		&__link {
			--_icon-size: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// filter
	.filter {

		&__dropdown {
			min-width: calc(32.25rem + (722 - 516) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__content {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__language {
			gap: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));

			&-title {
				margin-bottom: 0;
			}
		}
	}

	// slider-price
	.slider-price {
		&-display {
			margin-bottom: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-current {
			margin-top: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-range {
			height: calc(.125rem + (3 - 2) * ((100vw - 20rem) / (1920 - 320)));
			border-radius: calc(.125rem + (3 - 2) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-min,
		&-max {

			&[type="range"] {
				&::-webkit-slider-thumb,
				&::-moz-range-thumb {
					width: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
					height: calc(1.125rem + (25 - 18) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}
	}

	// card
	.card {
		gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		padding: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));

		&__header,
		&__profile {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__profile {

			&-avatar {
				width: calc(8.875rem + (199 - 142) * ((100vw - 20rem) / (1920 - 320)));
				height: calc(8.875rem + (199 - 142) * ((100vw - 20rem) / (1920 - 320)));
			}

			&-name {
				gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
				margin-bottom: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}

			&-location {
				gap: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
				margin-bottom: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&__reviews,
		&__statistics {
			gap: calc(.5rem + (11 - 8) * ((100vw - 20rem) / (1920 - 320)));
			margin-bottom: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__swiper {
			margin-inline: calc((2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) * -1);

			.swiper {
				padding-inline: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
			}

			.swiper-scrollbar {
				margin: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320))) calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) 0;
			}
		}

		&__language {
			width: calc(16.25rem + (364 - 260) * ((100vw - 20rem) / (1920 - 320)));
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__price {
			gap: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320))) calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));

			&-info {
				gap: calc(.75rem + (17 - 12) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&--review {
			.card__body {
				gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));

				&-start_image {
					width: calc(8.75rem + (196 - 140) * ((100vw - 20rem) / (1920 - 320)));
					height: calc(8.75rem + (196 - 140) * ((100vw - 20rem) / (1920 - 320)));
				}

				&-end > .card__time  {
					margin-top: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
				}

				&-header {
					gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320))) calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
					margin-bottom: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}
	}

	// pagination
	.pagination {
		margin-top: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));;
		gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

		&__btn {
			--_height: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			--_padding: 0 calc(.125rem + (3 - 2) * ((100vw - 20rem) / (1920 - 320)));

			min-width: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// actions 
	.actions {
		max-width: calc(113rem + (2310 - 1808) * ((100vw - 20rem) / (1920 - 320)));
		bottom: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
	}

	.to-top {
		--_padding: calc(1.75rem + (39 - 28) * ((100vw - 20rem) / (1920 - 320)));

		--_icon-size: calc(4rem + (89 - 64) * ((100vw - 20rem) / (1920 - 320)));
	}

	// swipers
	.swiper-scrollbar {
		height: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		border-radius: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
	}

	// modals
	.graph-modal {

		&__container {
			max-width: calc(52.5rem + (1176 - 840) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(2rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) calc(2rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));

			&--xl {
				max-width: calc(75rem + (1680 - 1200) * ((100vw - 20rem) / (1920 - 320)));
			}

			&--contacts {
				.graph-modal__content {
					margin-block: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
				}
			}

			&--code {
				.graph-modal__form-title {
					font-size: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
				}
			}

			&--review {
				.graph-modal__content {
					margin-top: calc(2.5rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
				}
				.graph-modal__form {
					max-width: calc(42rem + (940 - 672) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}

		&__header {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			margin-bottom: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}
		
		&__close {
			--_icon-size: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__content {
			margin-top: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__texts {
			max-width: calc(66rem + (1478 - 1056) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__nav {
			max-width: calc(42rem + (940 - 672) * ((100vw - 20rem) / (1920 - 320)));
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
			margin: 0 auto calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__form {
			max-width: calc(30rem + (672 - 480) * ((100vw - 20rem) / (1920 - 320)));
	
			&-title {
				font-size: calc(4rem + (90 - 64) * ((100vw - 20rem) / (1920 - 320)));
				margin-bottom: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
			}
	
			&-btns {
	
				&--v2 {
					margin-top: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}

		&__switch {
			margin-top: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__search {
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));

			&-gps {
				gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
	
			&-dropdown {
				max-height: calc(25rem + (560 - 400) * ((100vw - 20rem) / (1920 - 320)));
				gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
			}

			&-list {
				gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));

				& + .graph-modal__search-list {
					padding-top: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}

		&__contacts {
	
			> li {
	
				&:first-child {
	
					&::after {
						width: calc(50% + 5rem);
					}
				}
			}
	
			.btn {
				--_font-size: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
				--_padding: calc(.75rem + (17 - 12) * ((100vw - 20rem) / (1920 - 320))) calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
	
				--_icon-size: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&__repeat {
			gap: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// header
	.header {
		padding-block: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));

		&__container {
			gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__start {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__end {
			gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// hero
	.hero {
		margin-bottom: calc(7.5rem + (168 - 120) * ((100vw - 20rem) / (1920 - 320)));

		&__bg {
			min-height: calc(26.25rem + (580 - 420) * ((100vw - 20rem) / (1920 - 320)));
			
			&-title {
				max-width: calc(38rem + (851 - 608) * ((100vw - 20rem) / (1920 - 320)));
				font-size: calc(3.25rem + (73 - 52) * ((100vw - 20rem) / (1920 - 320)));
				padding-top: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
				padding-left: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
				margin-bottom: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}

			&-list {
				max-width: calc(42rem + (940 - 672) * ((100vw - 20rem) / (1920 - 320)));
				gap: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));

				&_item {
					min-height: calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320)));
					padding: calc(.5rem + (11 - 8) * ((100vw - 20rem) / (1920 - 320))) calc(7.5rem + (168 - 120) * ((100vw - 20rem) / (1920 - 320)));
				}
			}

			&-features {
				&_item {
					max-width: calc(14rem + (314 - 224) * ((100vw - 20rem) / (1920 - 320)));
	
					&:first-child {
						top: calc(4rem + 4vw);
					}
	
					&:nth-child(2) {
						top: calc(10rem + 6vw);
					}
	
					&:last-child {
						top: calc(16rem + 8vw);
					}
				}
			}
		}

		&__form {
			max-width: calc(61.625rem + (1380 - 986) * ((100vw - 20rem) / (1920 - 320)));
			padding-inline: calc(2.25rem + (50 - 36) * ((100vw - 20rem) / (1920 - 320)));
			transform: translateY(calc(100% - (1.75rem + (39 - 28) * ((100vw - 20rem) / (1920 - 320)))));
		}
	}

	// catalog
	.catalog {

		&__container {
			grid-template-columns: minmax(calc(18.125rem + (410 - 290) * ((100vw - 20rem) / (1920 - 320))), calc(18.75rem + (420 - 300) * ((100vw - 20rem) / (1920 - 320)))) minmax(calc(48rem + (1076 - 768) * ((100vw - 20rem) / (1920 - 320))), calc(68.75rem + (1540 - 1100) * ((100vw - 20rem) / (1920 - 320))));
			gap: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__content {
			gap: calc(2.5rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__bottom {
			margin-top: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// dropzones
	.dropzone {

		.dz-default {
			margin-block: 0 calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}

		.dz-wrapper {
			min-height: calc(10rem + (224 - 160) * ((100vw - 20rem) / (1920 - 320)));
			gap: calc(.625rem + (14 - 10) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
		}

		&.dz-file-preview {

			.dz-image {
				width: calc(6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)));
				height: calc(6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		.dz-progress {
			height: calc(.625rem + (14 - 10) * ((100vw - 20rem) / (1920 - 320)));
			margin-top: calc((.125rem + (3 - 2) * ((100vw - 20rem) / (1920 - 320)) * -1));
		}

		.dz-remove {
			margin-bottom: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		}

		.dz-error-mark,
		.dz-success-mark {
			margin-top: calc((3.5rem + (78 - 56) * ((100vw - 20rem) / (1920 - 320)) * -1));
			margin-left: calc((3.5rem + (78 - 56) * ((100vw - 20rem) / (1920 - 320)) * -1));

			.icon {
				--_i-size: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));

				margin-bottom: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}

			.dz-filename {
				margin-bottom: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		.dz-error-message {
			margin-top: calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
			padding: calc(.375rem + (8 - 6) * ((100vw - 20rem) / (1920 - 320))) calc(.5rem + (12 - 8) * ((100vw - 20rem) / (1920 - 320)));
		}

		&-files {

			.dz-upload {
				--_padding: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320))) calc(8.75rem + (196 - 140) * ((100vw - 20rem) / (1920 - 320))) calc(3.75rem + (84 - 60) * ((100vw - 20rem) / (1920 - 320))) calc(8.75rem + (196 - 140) * ((100vw - 20rem) / (1920 - 320)));

				gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
			}
	
			.dz-preview {
	
				.dz-image {
					width: calc(6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)));
					height: calc(6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}

		&-avatar {
			margin-bottom: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));

			.dz-avatar-upload {
				--_width: calc(13.75rem + (308 - 220) * ((100vw - 20rem) / (1920 - 320)));
				--_height: calc(13.75rem + (308 - 220) * ((100vw - 20rem) / (1920 - 320)));
	
				--_icon-size: calc(4rem + (90 - 64) * ((100vw - 20rem) / (1920 - 320)));
			}
			
			.dz-preview {

				.dz-image {
					width: calc(13.75rem + (308 - 220) * ((100vw - 20rem) / (1920 - 320)));
					height: calc(13.75rem + (308 - 220) * ((100vw - 20rem) / (1920 - 320)));
				}

				.dz-error-mark,
				.dz-success-mark {
					margin-top: calc((6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)) * -1));
					margin-left: calc((6.875rem + (154 - 110) * ((100vw - 20rem) / (1920 - 320)) * -1));
				}
			}
		}
	}

	// tariff
	.tariff {

		&__inner {
			padding: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320))) calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		}
	
		&-hint,
		.section-subtitle {
			max-width: calc(72rem + (1612 - 1152) * ((100vw - 20rem) / (1920 - 320)));
		}
	
		&-hint {
			margin-bottom: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}
	
		&-bottom {
			max-width: calc(64rem + (1433 - 1024) * ((100vw - 20rem) / (1920 - 320)));
		}
	}

	// video 
	.video-play {
		--_i-size: calc(11.875rem + (266 - 190) * ((100vw - 20rem) / (1920 - 320)));
	}

	// statistics
	.statistics {
		gap: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));

		&__item {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
		
			&-end {
				gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
			}

			&:not(:first-child) {
				padding-top: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
			}
		}
	}

	// portfolio
	.portfolio {
		gap: calc(.875rem + (20 - 14) * ((100vw - 20rem) / (1920 - 320)));

		&,
		&-swiper {
			margin-bottom: calc(3rem + (68 - 48) * ((100vw - 20rem) / (1920 - 320)));
		}

		&__bottom {
			margin-top: calc(2.375rem + (53 - 38) * ((100vw - 20rem) / (1920 - 320)));
		}

		&--edit {

			.portfolio__item {
	
				.btn {
					top: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
					right: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
				}
			}
		}
	}

	// info {
	.info {
		gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		padding: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
		
		&__price {
			gap: calc(1rem + (23 - 16) * ((100vw - 20rem) / (1920 - 320)));
	
			&-info {
				gap: calc(.25rem + (6 - 4) * ((100vw - 20rem) / (1920 - 320)));
			}
		}

		&__description {

			&-title {
				margin-bottom: calc(1.5rem + (34 - 24) * ((100vw - 20rem) / (1920 - 320)));
			}
		}
	}

	// reviews
	.reviews {
		gap: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
	
		&__bottom {
			margin-top: calc(2.5rem + (56 - 40) * ((100vw - 20rem) / (1920 - 320)));
	
			.btn {
				--_width: 100%;
			}
		}
	}

	.footer {
		padding-block: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
	
		&__container,
		&__wrapper {
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
		}
	
		&__nav {
			gap: calc(1.25rem + (28 - 20) * ((100vw - 20rem) / (1920 - 320)));
		}
	
		&__copy {
			gap: calc(2rem + (45 - 32) * ((100vw - 20rem) / (1920 - 320)));
			margin-top: calc(5rem + (112 - 80) * ((100vw - 20rem) / (1920 - 320)));
		}
	}
}

/** > 1600px **/
@media (max-width: 100rem) {
	.hero__bg-features_item {
		&:first-child {
			top: calc(21.5rem - 16vw);
		}

		&:nth-child(2) {
			top: calc(27.5rem - 16vw);
		}

		&:last-child {
			top: calc(29.5rem - 12vw);
		}
	}
}

/** > 1481px **/
@media (max-width: 92.5625rem) {

	// modals
	.graph-modal {

		&__container {
			max-width: 37.5rem;

			&--xl {
				max-width: 50rem;
			}

			&--code {
				.graph-modal__form-title {
					font-size: var(--h2);
				}
			}

			&--sign {
				.graph-modal__form {
	
					.form-control {
						margin-bottom: 5rem;
					}
				}
			}
		}

		&__close {
			--_icon-size: 2rem;
		}

		&__nav {
			max-width: 23.75rem;
			gap: 1.125rem;
			margin-bottom: 2rem;
	
			&-btn {
				--_height: 3.375rem;
				--_font-size: 1.25rem;
				--_padding: 0 1.5rem;
			}
		}

		&__form {
			max-width: 20.625rem;
		}

		.form-control {

			&__title {
				font-size: 1.25rem;
				margin-bottom: 1rem;
			}
		}

		.field {
			--_field-height: 2.5rem;
			--_field-fs: var(--fs-md);
			--_field-radius: var(--radius-md);
			--_field-padding: 0.25rem 1.25rem;
		}

		textarea.field {
			--_field-padding: 0.5rem 1.25rem;
		}

		.form-hint {
			font-size: var(--fs-sm);
		}

		&__switch {
			font-size: var(--fs-lg);
		}
	}

	// actions
	.to-top {
		--_padding: 1rem;
	
		--_icon-size: 2rem;
	}

	// hero
	.hero__bg {

		&-title {
			padding-left: 1.75rem;
		}

		&-list_item {
			padding-inline: 1.75rem 7.5rem;
		}
	}

	// footer
	.footer {
		&__container,
		&__wrapper {
			gap: 1.5rem 1.25rem;
		}

		&__container {
			flex-wrap: wrap;
		}

		&__picture {
			width: 100%;
		}
	}
}

/** > 1400px **/
@media (max-width: 87.5rem) {
	.hero__bg-features_item {
		&:first-child {
			top: 7.825rem;
			right: calc(45vw - 12.5rem);
		}

		&:nth-child(2) {
			top: 13.25rem;
			right: calc(45vw - 8.5rem);
		}

		&:last-child {
			top: 18.825rem;
			right: calc(45vw - 7.5rem);
		}
	}
}

/** > 1280px **/
@media (max-width: 80rem) {
	:root {
		// base
		--container-offset: 1.5rem;

		// sections
		--section-offset: 4rem;
		--section-inner: 2rem;
		--section-first: 0;
		--section-last: 5rem;
	}

	// section
	.section {
		&-header,
		&-subtitle {
			margin-bottom: 2rem;
		}

		& + .section {
			margin-top: var(--section-offset);
		}

		& + .section--double {
			margin-top: var(--section-last);
		}

		&:last-child {
			margin-bottom: var(--section-last);
		}
	}

	// form
	.form {
		&-options {
			margin-bottom: 2.5rem;
		}

		&-buttons {
			margin-top: 3rem;
		}
	}

	// fields
	.form-control {

		&--double {
			flex-direction: column-reverse;
		}

		&--checkbox {
			gap: .5rem 1.5rem;
		}
	}
	
	// list
	.list-circle {
		gap: 2.5rem;
		margin-bottom: 2.5rem;
	}

	// user
	.user {
		&__btn {
			&--desktop {
				display: none;
			}

			&--mobile {
				--_icon-size: 2.5rem;

				display: inline-flex;
			}
		}
	}

	// burger
	.burger,
	.menu {
		display: flex;
	}

	.menu {
		&__job {
			&--catalog {
				display: none;
			}
		}
	}

	[data-menu-overlay] {
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--background-dark);
		opacity: 0;
		position: fixed;
		z-index: -1;
		inset: 0;
		transition: opacity var(--transition-duration) var(--transition-type);
	}

	[data-menu-overlay="true"] {
		cursor: pointer;
		opacity: 0.8;
		z-index: 1050;
	}

	// actions
	.actions {
		bottom: 3rem;
	}

	// header
	.header {
		padding-block: 3rem;

		&__location {
			display: none;
		}

		&__end {
			.choices--language,
			.user {
				display: none;
			}
		}
	}

	// hero
	.hero__bg-features_item {
		&:first-child {
			right: calc(50vw - 13rem);
		}

		&:nth-child(2) {
			right: calc(50vw - 9rem);
		}

		&:last-child {
			right: calc(50vw - 8rem);
		}
	}

	// catalog
	.catalog {
		&__container {
			display: grid;
			grid-template-columns: minmax(0rem, 75rem);
		}
	}

	// dropzones
	.dropzone {
		&-avatar {
			margin-bottom: 3rem;
		}
	}

	// tariff
	.tariff {
		&__inner {
			padding: 3rem 2rem;
		}
	}

	// video
	.video {

		&-play {
			--_i-size: 8rem;
		}
	}

	// statisctics
	.statistics {
		gap: 2.5rem;

		&__item {

			&-end {
				gap: 2rem;
			}

			&:not(:first-child) {
				padding-top: 2.5rem;
			}
		}
	}

	// portfolio
	.portfolio {
		display: none;

		&,
		&-swiper {
			margin-bottom: 2.5rem;
		}

		&-swiper {
			display: block;
			margin-inline: calc(var(--container-offset) * -1);

			.swiper {
				padding-inline: var(--container-offset);
			}

			.swiper-scrollbar {
				margin: 2rem var(--container-offset) 0;
			}

			&--edit {

				.portfolio__item {
					position: relative;

					&::after {
						content: '';
						width: 100%;
						height: 100%;
						display: block;
						background-color: rgba(33, 33, 33, .5);
						border-radius: var(--radius-lg);
						position: absolute;
						inset: 0;
						z-index: 1;
					}
		
					.btn {
						position: absolute;
						top: 1.25rem;
						right: 1.25rem;
						z-index: 2;
					}
				}
			}
		}

		&__slide {
			display: flex;
			flex-direction: column;
			gap: .875rem;
		}
	}

	// footer
	.footer {
		padding-block: 3rem;

		&__copy {
			margin-top: 3rem;
		}
	}
}

/** > 992px **/
@media (max-width: 62rem) {
	:root {
		// font-size
		--h1: 1.5rem;
		--h2: 1.25rem;
		--h3: 1.125rem;
		--h4: 1rem;
		--h5: 0.875rem;

		--fs: 0.875rem;
		--fs-md: 1rem;
		--fs-lg: 1.125rem;
		--fs-xl: 1.25rem;
		--fs-xxl: 1.5rem;

		// sections
		--section-offset: 2.5rem;
		--section-inner: 1.5rem;
		--section-last: 4rem;
	}

	// typography
	p + p {
		margin-block-start: 1.5rem;
	}

	// section
	.section {

		& + .section {
			margin-top: var(--section-offset);
		}

		& + .section--double {
			margin-top: var(--section-last);
		}
		
		&:last-child {
			margin-bottom: var(--section-last);
		}
	}

	// buttons
	.btn-review {
		--_height: 2.75rem;
		--_font-size: var(--fs-md);
		--_border-radius: var(--radius-md);

		--_icon-size: var(--fs-lg);

	}

	.btn-sm {
		--_font-size: var(--fs-md);
	}

	.btn-md {
		--_font-size: var(--fs-lg);
	}

	.btn-lg,
	.btn-xl {
		--_height: 3.375rem;
		--_font-size: var(--fs-md);
		--_border-radius: var(--radius-md);
		--_padding: 0 2rem;

		--_icon-size: 1.125rem;

		border-width: 1px;
	}

	// form
	.form {
		&-options {
			margin-bottom: 2rem;
		}

		&-hint {
			font-size: var(--fs);
		}

		&-buttons {
			margin-top: 2.5rem;
		}
	}

	// fields
	.form-control {
		margin-bottom: 2rem;

		&__title {
			margin-bottom: 1rem;
		}
	}

	.form-field {

		&--search {

			.field {
				--_field-height: 3.75rem;
				--_field-fs: var(--fs-xxl);
			}
		}
	}

	.field {
		--_field-height: 2.5rem;
		--_field-fs: var(--fs-md);
		--_field-radius: var(--radius-md);
		--_field-padding: 0.25rem 1.25rem;
	}

	// list
	.list-circle {
		gap: 2rem;
		padding-left: 2rem;
		margin-bottom: 2rem;
	}

	// icons
	.icon-lg {
		--_i-size: 1.125rem;
	}

	// logo
	.logo {
		--_padding: 0;
	}

	// choices
	.choices {

		.choices__inner {
			min-height: 2.5rem;
		}
	}

	// burger
	.burger {
		--_icon-size: 2rem;
	}

	.menu {
		&__job,
		&__nav,
		&__user {
			gap: 0.75rem;
		}
	}

	// filter
	.filter {
		&__dropdown {
			min-width: 16rem;
			padding: 1.5rem;
		}

		&__language {
			&-title {
				width: 100%;
			}
		}
	}

	// card
	.card {
		padding: 2.5rem 2rem;

		&__profile {
			&-name {
				font-size: var(--h1);
			}
		}

		&__swiper {
			margin-inline: -2rem;

			.swiper {
				padding-inline: 2rem;
			}

			.swiper-scrollbar {
				margin: 1rem 2rem 0;
			}
		}

		&__price {
			padding-inline: 2rem 1rem;

			&-info {
				gap: .5rem;
			}
		}
	}

	.card--header {
		padding: 1.5rem;

		.card__language {
			font-size: var(--fs-xxl);
		}
	}

	.card--review {
		padding: 2.5rem 2rem 5rem;

		.card__body {
			flex-direction: column;
			gap: 1.5rem;

			&-start {
				display: flex;
				align-items: flex-start;
				gap: 1.5rem;

				&_image {
					width: 4rem;
					height: 4rem;
				}

				.card__body-title {
					display: block;
				}
			}

			&-end {

				.card__body-title {
					display: none;
				}

				.card__time {
					display: block;
					font-size: var(--fs-xxl);
				}
			}

			&-header {
				margin-bottom: 0;

				.card__time {
					display: none;
				}
			}
		}
	}

	// actions
	.actions {
		bottom: 2.5rem;
	}

	.to-top {
		--_icon-size: 1.375rem;
		--_padding: .5625rem;
	}

	// swipers
	.swiper-scrollbar {
		height: 1rem;
	}

	// modals
	.graph-modal {
		&__container {
			max-width: 32rem;
			border-radius: var(--radius-lg);
			padding: 2rem 1.5rem 4rem;

			&--xl {
				max-width: 44rem;
			}

			&--contacts {

				.graph-modal__content {
					margin-bottom: 0;
				}
			}

			&--code {
				.graph-modal__form-title {
					font-size: var(--h1);
				}
			}
		}

		&__content {
			margin-top: 1.5rem;
		}

		&__nav-btn {
			font-size: var(--fs-xl);
		}

		&__form {

			&-title {
				font-size: 2.5rem;
				margin-bottom: 2rem;
			}

			&-btns {
				&--v2 {
					margin-top: 3rem;
				}
			}

			&-submit {
				--_height: 4.375rem;
				--_font-size: var(--fs-xxl);
			}
		}

		&__search {
			&-gps {
				gap: 1rem;
			}

			&,
			&-dropdown {
				gap: 1.5rem;
			}

			&-list {
				gap: 0.5rem;

				& + .graph-modal__search-list {
					border-top: 1px solid #818181;
					padding-top: 1.5rem;
				}
			}
		}

		&__switch {
			font-size: var(--fs-xl);
			margin-top: 2.5rem;
		}

		&__contacts {

			> li {
	
				&:first-child {
	
					&::after {
						width: 50%;
						min-width: 16rem;
					}
				}
			}

			.btn {
				--_font-size: var(--fs-xxl);
				--_padding: .5rem 1rem;

				--_icon-size: 2rem;
			}
		}
	}

	// header
	.header {
		padding-block: 2.5rem;

		&__container,
		&__end {
			gap: 1rem;
		}
	}

	// hero
	.hero {

		&__bg {
			height: 40vw;
			min-height: 22rem;
			background-position: calc(100% + 9rem) center;

			&-title {
				width: fit-content;
				font-size: var(--fs-xxl);
				margin-top: 1.25rem;
				margin-bottom: auto;
				padding: .5rem 3rem .5rem 1.5rem;
				background-image: linear-gradient(270deg, rgba(145, 97, 223, 0) 0%, #9161df 100%);

				&_span {
					font-size: var(--fs-xs);
				}

				.primary-color {
					color: var(--light-color) !important;
				}
			}

			&-list {
				display: none;
			}

			&-features_item {
				max-width: 12rem;
				font-size: var(--fs-xs);

				&:first-child {
					top: 12.25vw;
					right: calc(-11.5rem + 45vw);
				}

				&:nth-child(2) {
					top: calc(1.5rem + 18vw);
					right: calc(-8.125rem + 45vw);
				}

				&:last-child {
					top: calc(4rem + 22vw);
					right: calc(-7.25rem + 45vw);
				}
			}
		}
	}

	//dropzones
	.dropzone {
		&-files {
			.dz-upload {
				--_padding: 2rem;
			}
		}

		&-avatar {
			margin-bottom: 2.5rem;
		}
	}
	
	// tariff
	.tariff {
		&__inner {
			padding: 2.5rem 1.5rem;
		}
	}

	// video
	.video {

		&-play {
			--_i-size: clamp(3rem, 10vw + 1rem, 8rem);
		}
	}

	// statisctics
	.statistics {
		gap: 2rem;

		&__item {

			&-end {
				gap: 1.5rem;
			}

			&:not(:first-child) {
				padding-top: 2rem;
			}
		}
	}

	// info
	.info {
		gap: 2rem;
		padding: 2.5rem 2rem;

		&__description {

			&-title {
				margin-bottom: 1rem;
			}
		}
	}

	// portfolio
	.portfolio {

		&,
		&-swiper {
			margin-bottom: 2rem;
		}
	}

	// footer
	.footer {
		padding-block: 2.5rem;

		&__copy {
			margin-top: 1.5rem;
		}
	}
}

/** > 880px **/
@media (max-width: 55rem) {

	.hero__bg-features_item {
		&:first-child {
			top: 6.75rem;
			right: 13.25rem;
		}

		&:nth-child(2) {
			top: 11.5rem;
			right: 16.625rem;
		}

		&:last-child {
			top: 16.25rem;
			right: 17.5rem;
		}
	}

}

/** > 768px **/
@media (max-width: 48rem) {
	// card
	.card {
		&__header {
			flex-direction: column;
		}

		&__info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			gap: 0.75rem 1.25rem;
		}

		&__reviews,
		&__language,
		&__statistics {
			font-size: var(--fs-md);
			justify-content: flex-start;
		}

		&__reviews,
		&__statistics {
			margin-bottom: 0;
		}

		&__language {
			width: auto;
			gap: 0.5rem;
		}
	}

	.card--header {

		.card__language {
			gap: 1rem;
		}
	}

	// actions
	.to-top,
	.message {
		--_icon-size: 1.75rem;
		--_padding: 0.75rem;
	}

	// portfolio
	.portfolio {

		&__item {

			&-image {
				border-radius: var(--radius);
			}
		}

		&--edit,
		&-swiper--edit {
			
			.portfolio__item {

				&::after {
					border-radius: var(--radius);
				}
			}
		}
	}

	// footer
	.footer {
		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__picture {
			display: flex;
			justify-content: center;
		}

		&__nav {
			text-align: center;
		}

		&__wrapper,
		&__socials {
			display: none;
		}

		&__copy {
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
		}
	}
}

/** > 576px **/
@media (max-width: 36rem) {
	// form
	.form {
		&-buttons {
			flex-direction: column-reverse;

			.btn {
				--_width: 100%;
			}
		}
	}

	// burger
	.menu {
		max-width: 100%;
	}

	// modals
	.graph-modal {
		&__nav {
			gap: 1rem;
		}

		&__contacts {
			flex-direction: column;

			> li {
	
				&:first-child {
	
					&::after {
						all: unset;
					}
				}
			}

			.btn {
				--_padding: .5rem 0;
			}
		}
	}

	// hero
	.hero__bg {
		background-position: calc(100% + 33rem - 80vw);

		&-features_item {
			&:first-child {
				top: 6.625rem;
				right: calc(80vw - 10.5rem);
			}

			&:nth-child(2) {
				top: 11rem;
				right: calc(80vw - 7.25rem);
			}

			&:last-child {
				top: 15.725rem;
				right: calc(80vw - 6.5rem);
			}
		}
	}
}

/** > 420px **/
@media (max-width: 26.25rem) {

	// card
	.card {

		&__profile {

			&-avatar {
				width: 6rem;
        height: 6rem;
			}
		}
	}

}
