.section {

	& + .section {
		margin-top: var(--section-offset);
	}
	
	& + .section--double {
		margin-top: var(--section-last);
	}

	&:first-child {
		margin-top: var(--section-first);
	}

	&:last-child {
		margin-bottom: var(--section-last);
	}

	&-header,
	&-subtitle {
		margin-bottom: 3rem;
	}

	&-header {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&-title {
		margin-bottom: 0;
	}

	&-subtitle {
		font-size: var(--fs-xl);
	}

	
}