<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>PROmobilograf</title>
  <link rel="preload" href="fonts/NunitoSans_7pt-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans_7pt-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NunitoSans_7pt-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script>
    (function() {
        const darkThemeClass = 'dark-theme';
        const selectedTheme = localStorage.getItem('selected-theme');
        if (selectedTheme === 'dark') {
            document.documentElement.classList.add(darkThemeClass);
        }
    })();
  </script>
  <script defer src="js/main.js"></script>
</head>
