<div class="graph-modal">
	<div class="graph-modal__container graph-modal__container--sign" role="dialog" aria-modal="true" data-graph-target="modal-signup-executor">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<ul class="list-reset graph-modal__nav">
				<li class="graph-modal__nav-li">
					<button type="button" class="btn btn-xl btn-secondary graph-modal__nav-btn" data-graph-path="modal-signup-client">
						Клиент
					</button>
				</li>
				<li class="graph-modal__nav-li">
					<button type="button" class="btn btn-xl btn-secondary graph-modal__nav-btn is-active">
						Исполнитель
					</button>
				</li>
			</ul>

			<form class="graph-modal__form">
				<div class="form-control">
					<h2 class="form-control__title">
						Номер
					</h2>
					<div class="form-field">
						<input type="tel" name="tel" class="field" placeholder="+7" required>
					</div>
					<p class="form-hint">
						На этот номер вы получите SMS с кодом подтверждения авторизации
					</p>
				</div>

				<div class="graph-modal__form-btns">
					<button type="submit" class="btn btn-lg btn-primary btn-primary--theme graph-modal__form-submit">
						Продолжить
					</button>
				</div>
				<p class="form-hint">
					Нажимая «Зарегистрироваться», я даю свое согласие на обработку <a href="#" class="btn btn-inherit text-underline">персональных данных.</a>
				</p>
			</form>

			<div class="graph-modal__switch">
				У вас уже есть аккаунт? <button type="button" class="btn btn-inherit text-underline" data-graph-path="modal-signin">Войдите</button>
			</div>
		</div>
	</div>

	<div class="graph-modal__container graph-modal__container--sign" role="dialog" aria-modal="true" data-graph-target="modal-signup-client">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<ul class="list-reset graph-modal__nav">
				<li class="graph-modal__nav-li">
					<button type="button" class="btn btn-xl btn-secondary graph-modal__nav-btn is-active">
						Клиент
					</button>
				</li>
				<li class="graph-modal__nav-li">
					<button type="button" class="btn btn-xl btn-secondary graph-modal__nav-btn" data-graph-path="modal-signup-executor">
						Исполнитель
					</button>
				</li>
			</ul>

			<form class="graph-modal__form">
				<div class="form-control">
					<h2 class="form-control__title">
						Номер
					</h2>
					<div class="form-field">
						<input type="tel" name="tel" class="field" placeholder="+7" required>
					</div>
					<p class="form-hint">
						На этот номер вы получите SMS с кодом подтверждения авторизации
					</p>
				</div>

				<div class="graph-modal__form-btns">
					<button type="submit" class="btn btn-lg btn-primary btn-primary--theme graph-modal__form-submit">
						Продолжить
					</button>
				</div>
				<p class="form-hint">
					Нажимая «Зарегистрироваться», я даю свое согласие на обработку <a href="#" class="btn btn-inherit text-underline">персональных данных.</a>
				</p>
			</form>

			<div class="graph-modal__switch">
				У вас уже есть аккаунт? <button type="button" class="btn btn-inherit text-underline" data-graph-path="modal-signin">Войдите</button>
			</div>
		</div>
	</div>

	<div class="graph-modal__container graph-modal__container--review" role="dialog" aria-modal="true" data-graph-target="modal-review">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<form class="graph-modal__form">
				<div class="form-control">
					<h2 class="form-control__title">
						Введите ваш отзыв
					</h2>
					<div class="form-field">
						<textarea class="field" name="review" placeholder="Ввод" required></textarea>
					</div>
				</div>

				<div class="graph-modal__form-btns">
					<button type="submit" class="btn btn-lg btn-primary btn-primary--theme graph-modal__form-submit">
						Оставить отзыв
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-signin">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<form class="graph-modal__form">
				<h2 class="graph-modal__form-title">
					Вход
				</h2>

				<div class="form-control">
					<h2 class="form-control__title">
						Email
					</h2>
					<div class="form-field">
						<input type="email" name="email" class="field" placeholder="E-mail" required>
					</div>
				</div>
				<div class="form-control">
					<h2 class="form-control__title">
						Пароль
					</h2>
					<div class="form-field form-field--password">
						<button type="button" class="btn form-field__btn">
							<span class="icon">
								<svg>
									<use xlink:href="img/icons/eye-close-line.svg#svg-eye-close-line"></use>
								</svg>
							</span>
						</button>
						<input type="password" name="password" class="field" placeholder="Пароль" required>
					</div>
				</div>

				<div class="graph-modal__form-btns graph-modal__form-btns--v2">
					<button type="submit" class="btn btn-lg btn-primary btn-primary--theme graph-modal__form-submit">
						Войти
					</button>
				</div>
			</form>
		</div>
	</div>
	
	<div class="graph-modal__container graph-modal__container--code" role="dialog" aria-modal="true" data-graph-target="modal-code">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<form class="graph-modal__form">
				<h2 class="graph-modal__form-title">
					Введите код из смс
				</h2>

				<div class="form-control form-control--code">
					<div class="form-field">
						<input type="text" class="field" name="code">
					</div>
					<div class="form-field">
						<input type="text" class="field" name="code">
					</div>
					<div class="form-field">
						<input type="text" class="field" name="code">
					</div>
					<div class="form-field">
						<input type="text" class="field" name="code">
					</div>
				</div>
			</form>
			<div class="graph-modal__repeat">
				<button type="button" class="btn graph-modal__repeat-btn">
					Отправить ещё раз
				</button>
				<button type="button" class="btn graph-modal__repeat-link">
					Изменить номер +7 747 151 35 30
				</button>
			</div>
		</div>
	</div>
	
	<div class="graph-modal__container graph-modal__container--contacts" role="dialog" aria-modal="true" data-graph-target="modal-contacts">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<ul class="list-reset graph-modal__contacts">
				<li>
					<a href="tel:+87070000000" target="_blank" class="btn graph-modal__contacts-link">
						<span class="icon">
							<svg>
								<use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
							</svg>
						</span>
						8 707 000 0000
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="btn graph-modal__contacts-link">
						www.site.com
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="btn graph-modal__contacts-link">
						<span class="icon">
							<svg>
								<use xlink:href="img/icons/instagram.svg#svg-instagram"></use>
							</svg>
						</span>
						ivan_ivanov
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="graph-modal__container graph-modal__container--xl" role="dialog" aria-modal="true" data-graph-target="modal-location">
		<div class="graph-modal__content">
			<div class="graph-modal__header">
				<h2 class="graph-modal__title">
					Выберите город
				</h2>
				<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/x.svg#svg-x"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="graph-modal__search">
				<p class="graph-modal__search-hint">
					Выбор города поможет вам выбрать нужного специалиста
				</p>
				<form>
					<div class="form-field form-field--search">
						<button type="submit" class="btn form-field__btn">
							<span class="icon">
								<svg>
									<use xlink:href="img/icons/search.svg#svg-search"></use>
								</svg>
							</span>
						</button>
						<input type="text" class="field" name="search" placeholder="Поиск">
					</div>
				</form>

				<button type="button" class="btn graph-modal__search-gps">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/navigation.svg#svg-navigation"></use>
						</svg>
					</span>
					Определить по геолокации
				</button>
				
				<div class="graph-modal__search-dropdown">
					<ul class="list-reset graph-modal__search-list">
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Алма-Ата, Алматы
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Астана 
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Шымкент 
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Актобе 
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Караганда
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Павлодар
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Тараз
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Усть-Каменогорск
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Семей
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Атырау
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Костанай
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Кызылорда
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Уральск
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Петропавловск
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Актау
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Темиртау
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Туркестан
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Талдыкорган
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Кокшетау
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Экибастуз
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Рудный
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Жезказган
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Жанаозен
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Балхаш
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Кентау
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Каскелен
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Сатпаев
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Кульсары
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Риддер
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Щучинск
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Степногорск
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Конаев
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Арыс
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Сарань
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Талгар
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-inherit graph-modal__search-list_btn">
								Жаркент
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="graph-modal__container graph-modal__container--xl" role="dialog" aria-modal="true" data-graph-target="modal-instruction">
		<div class="graph-modal__content">
			<div class="graph-modal__header">
				<h2 class="graph-modal__title">
					Инструкция 
				</h2>
				<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/x.svg#svg-x"></use>
						</svg>
					</span>
				</button>
			</div>
			
			<div class="graph-modal__texts">
				<p class="fs-lg">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel numquam odit expedita voluptate? Sit reprehenderit praesentium aut, voluptatum deserunt voluptatibus? Laborum ipsam itaque dolorum, molestiae dolore et eligendi consequatur ipsum.
					Laborum eum iusto dicta alias itaque explicabo veniam nostrum architecto doloremque inventore, culpa ipsum atque in nesciunt aperiam illum! Tempore perspiciatis quidem eveniet voluptates iste deleniti perferendis nihil aliquam in?
					Consectetur possimus harum tempore ad! Soluta, distinctio quasi. Nulla hic ex ratione. Itaque possimus iure hic eos ratione, minus sapiente, porro sit voluptatum vero labore commodi et iste libero earum!
				</p>
				<p class="fs-lg">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at esse nulla? Vero iure adipisci deleniti minus corporis nihil odit iusto provident voluptas, eveniet eaque fugit dolorum harum commodi porro.
					Voluptatem, aliquid ea maiores distinctio sint ipsam sit alias provident consectetur ratione, aliquam totam nulla cupiditate assumenda veritatis tempore magni commodi atque optio nisi laborum. Eligendi hic nisi dolores est!
					Dolores minima, labore voluptatem, excepturi facere ipsa in, quas deserunt praesentium numquam suscipit? Nisi doloremque cum fugit nesciunt minus praesentium iste vero perferendis deserunt corporis! Quis voluptas amet id hic.
				</p>
				<p class="fs-lg">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolores corporis voluptatem, voluptates corrupti delectus quia earum eius eos esse id. Vel ex rerum optio libero necessitatibus nesciunt totam at?
					Error minima voluptatum est tenetur corrupti eligendi quidem tempora illo iure, animi dignissimos nihil minus quod cum inventore. Consequatur unde exercitationem doloremque iste omnis ipsum, totam earum fuga nihil dicta.
					Dolorum similique, accusamus illum ducimus omnis ad eum autem quae ratione et, cumque tempore, doloribus accusantium? Deserunt velit nostrum, fuga, inventore sequi, architecto perferendis iste facilis id suscipit molestiae voluptates!
				</p>
				<p class="fs-lg">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores impedit neque, rem quo tenetur quas, vel tempora molestiae, ullam accusamus id voluptatibus nesciunt nemo officiis. Exercitationem eligendi expedita repellendus mollitia.
					Quam facilis mollitia beatae? Atque doloremque porro facere cumque, aliquid aperiam obcaecati nulla fugit labore, iste id commodi magnam distinctio mollitia, esse temporibus nam asperiores repellendus impedit quod. Voluptatem, incidunt?
					Officiis, sed quo vel id delectus ducimus, recusandae doloribus sequi ad quidem sunt possimus dignissimos. Doloremque recusandae, quibusdam odit similique assumenda quae nihil temporibus alias officiis quisquam ut distinctio aspernatur.
				</p>
			</div>
		</div>
	</div>
</div>